<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Foodmap</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="grey darken-4 center-align">
      <!--title page-->
      <div class="row">
          <div class="col s12">
              <h2 class="orange-text text-accent-4">Foodmap</h2>
              <div class="container">
                  <hr class="horizontal-line">
              </div>
          </div>
      </div>
      <!--maps-->
      <div class="row">
          <iframe class="col s12 offset-m3 m6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d481934.3792252053!2d-99.43281741536933!3d19.320931021693873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0036b1352927%3A0xdefd9e4ee8d18a5b!2sCd.+de+M%C3%A9xico!5e0!3m2!1ses!2smx!4v1516398753030" width="380" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <!--title input-->
      <div class="row">
        <div class="col s12">
          <p class="orange-text text-accent-4 text-15em mt-0 mb-0">Comida cerca de ti</p>
        </div>
      </div>
      <!--input-->
      <div class="row">
          <form class="col s12 white-text">
              <div class="row">
              <div class="input-field col s10 offset-s1  offset-m4 m4">
                  <i class="material-icons prefix">search</i>
                  <input id="icon_prefix" placeholder="filtrar restaurantes" type="text" class="validate">
                  <label for="icon_prefix"></label>
              </div>
              </div>
          </form>
      </div>
      <!--Modal-->
      <div class="">
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <a href="../views/page.html" class="modal-action modal-close waves-effect waves-green btn-flat right">X</a>
          <div class="modal-content">
            <h5 class="mb-0 mt-0 restaurantName">Taquitos Sensuales</h5>
            <img class="photo-modal" src="../assets/images/maps.jpg" alt="Map">
            <p class="mb-0 mt-0 orange-text text-accent-4 especialFood">Tacos para todos los gustos</p>
            <div class="row">
              <div class="col s6">
                <p class="mb-0 adressRestaurant">Av imaginaria #340 valle talcual ciudad sin nombre</p>
              </div>
              <div class="col s6">
                <p class="mb-0 service">Servicio a domicilio</p>
                <p class="mb-0 service2">Sin servicio a domicilio</p>
              </div>
            </div>
            <a href="../views/page.html" class="modal-action modal-close waves-effect waves-green btn-flat orange accent-4 white-text buttonOrder">PEDIR AHORA</a>
          </div>
        </div>
      </div>
      <!--food container-->
      <div id="food_container" class="row">
          <div id="main_food_container"class="col s12">
              <!--food photos-->
              <!--<div class="photo-food">
                  <img src="../assets/images/tacos.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/pozole.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/enchiladas.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/niñosenvueltos.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/chilesrellenos.jpg"class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/pasta.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/risotto.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/paella.jpeg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/ravioles.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/pizza.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/sushi.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div>
              <div class="photo-food">
                  <img src="../assets/images/ramen.jpg" class="modal-trigger food-photo" href="#modal1" alt="Photo food">
              </div> -->
          </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/data.js"></script>
  </body>
</html>
